.promozioni{
    flex-direction: column;
}
.prossimeuscite{
    flex-direction: column;
}
.border{
    width: 60%;
    margin-bottom: 1rem;
}
.no{
    display: none;
}
.imgLib{
    padding-bottom: 1rem;
}
.nav2{
    display: block;
    padding-top: 8px;
    padding-left: 1rem;
}
.nav2:hover{
    color: rgb(207, 139, 1);
}

.nav2:checked ~ .menu{
display: block;
position: relative;
right: 55%;
}
.nav1{
    display: none;
}
.nav3 li:hover{
    color:rgb(207, 139, 1);
}
.back-logo{
    padding-left: 20px;
}
.nav3{
    background-color: rgb(58, 23, 114);
width: 100%;
padding-bottom: 10px;
padding-right: 10px;
}
.FormAccesso{
    width: 90%;
}
.nope{
    display: none;
}
.imgCov{
    width: 100%;
    height: 65%;
}
.cover{
    margin-right: 10px;
    justify-content: space-evenly;
}

.main-content {
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;


}
.contact-form{
    width: 90%;
    height: 50%;
}

.mappa {
    width: 50%;
}

.infocontatto {
    text-align: left;
}
.dio{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.mapdim{
    height: 50%;
    width: 80%;
}
.mappaeinfo{
    justify-content: center;
}