.rimuovi {
    background-color: rgb(191, 161, 237);
    border-radius: 5px;
    display: fixed;
}

.rimuovi:hover {
    background-color: rgb(207, 139, 1);
    color: rgb(58, 23, 114);
}

.paga {
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(191, 161, 237);
    border-radius: 10px;
    color: rgb(58, 23, 114);
}

.paga:hover {

    color: rgb(58, 23, 114);
    background-color: rgb(207, 139, 1);
}

.cart {
    display: flex;
    justify-content: space-between;
    margin-inline-end: 100px;
    margin-inline-start: 30px;

}



.articoloCarrello {
    background-color: rgba(76, 76, 76, 0.3);
    display: block;
    width: 50vw;
    height: 180px;
    margin-bottom: 15px;
    min-width: 500px;
    padding: 8px;
    border-radius: 20px;
}

.articoloCarrello p {
    display: inline-block;
    padding: 5px;

    /* background-color: rgba(42, 30, 44, 0.2); */
    border-radius: 10px;
}


.imgCarrello {
    float: left;
    margin: 10px;
    border: solid 2px purple;
    border-radius: 10px;

}

.riepilogo {
    background-color: rgba(76, 76, 76, 0.3);
    padding: 10px 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 5px;
}

.prezzo-totale {
    font-weight: bolder;
    font-size: 30px;
}

.riepilogo p {

    font-size: 30px;
}

.qnt {
    width: 50px;
}

@media screen and (max-width:811px) {

    .cart {
        display: flex;
        flex-direction: column;
        
    }

    .riepilogo {
        margin-top: 0;
        margin-left: 0;
        width: 50vw;
    }

}

@media screen and (max-width:560px) {

    .paga {
        width: 80%;
        height: 50px;
        font-weight: bold;
        font-size: 15px;
        background-color: rgb(191, 161, 237);
        border-radius: 10px;
    }

    .cart {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-inline-end: 0;
        margin-inline-start: 0;

    }


    .articoloCarrello {
        background-color: rgba(76, 76, 76, 0.3);
        display: block;
        width: 80vw;
        height: auto;
        margin-bottom: 15px;
        margin-left: 2px;
        padding: 8px;
        border-radius: 20px;
        min-width: auto;
        /* text-align: center; */

    }

    .imgCarrello {
        float: none;
        margin: 10px;
        width: auto;
        border: solid 2px purple;
        border-radius: 10px;
    }

}