.imgAud{
    height: 200px;
    width: 200px;
}

.sottotitolo{

    text-align: center;
    color: rgb(58, 23, 114);
    margin-bottom: 70px;
}
.border:hover {
    background-color:rgb(189, 189, 189); 
    border-color: rgb(139, 139, 139);
}
.bottone {
    color: rgb(58, 23, 114);
    background-color: rgb(191, 161, 237);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
.testo {
    display: none;
  }
  
  .bottone:focus ~ .testo {
    display: block;
  }